.overlay{
    background: rgb(0, 0, 0,.4);
    position: fixed;
    height: 100vh;
    z-index: 9999;
    width: 0;
    top: 0;
    left: 0;
    transition: 1.2s ease;
    overflow-x: hidden;
    
}
.aktiv{
    width: 100%;
}
.nav-links {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
textarea{
    resize: none;
}

.contact-form form{
    width: 503px;
    height: auto;
    background-color: #1c2b32;
    color: #fff;
    padding: 56px 64px 64px 64px;
    border-radius: 4px;
}
.contact-form p{
    opacity: .7;
}
.form-control{
    border: none;
    border-bottom: 1px solid;
    color: #fff;
    background-color: #1c2b32;
}
.form-control:focus{
    background-color: transparent;
    color: #fff;
}
::placeholder{
    color: #6e6b6b !important;
    font-weight: 500;
}
.sign-in-buttonu {
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #4eba85;
    color: #fff;
    display: flex;
    padding: 15px 50px;
}